@tailwind base;
@tailwind components;
@tailwind utilities;

i{
    font-size: 2em;
    align-self: center;
    transition: color 200ms ease-in-out;
}
i:hover{
    color: #16a34a;
    filter: drop-shadow(2px 2px 7px rgb(193, 192, 192));

}
li{
    list-style-type: disc;
    font-size: 1.2em;
    padding: 0.2em;
}
li::first-letter
{
    color:  #21cd61;
}
option{
    font-size: 1.2em;
}
.form{
    position: absolute;
    top: 0.5em;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 17px solid #479c30;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #918d8d;
    border: 24px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }