@tailwind base;
@tailwind components;
@tailwind utilities;

i{
    font-size: 2em;
    align-self: center;
    transition: color 200ms ease-in-out;
}
i:hover{
    color: #16a34a;
    filter: drop-shadow(2px 2px 7px rgb(193, 192, 192));

}
li{
    list-style-type: disc;
    font-size: 1.2em;
    padding: 0.2em;
}
li::first-letter
{
    color:  #21cd61;
}
option{
    font-size: 1.2em;
}
.form{
    position: absolute;
    top: 0.5em;
}